html {
    background-color: rgb(184, 182, 182);
}

h1 {
    font-family: 'Industry Inc';
    font-style: normal;
    font-size: 77px;
    border-bottom: 5px solid #004DC1;
}

h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    margin-top: -1em;
}

h3 {
    font-family: 'Lato';
    font-style: bold;
    font-weight: 700;
    font-size: 48px;
}

h4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

h5 {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 250;
    font-size: 24px;
}

h6 {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 19px;
    margin: 1px;
}

p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

a:link {
    color: black;
  }

a:hover {
    text-decoration: none;
    color: white;
  }

.content {
    width: 35em;
    height: 24em;
    margin: 3em;
    padding: 2em;
    background-color: rgba(255, 253, 253, 0.843);
    border-radius: 1.5em;
  }

.Aidan-photo {
    height:30em;
}